.carousel {
  background-color: #96ceb4;
}
.login {
  background-color: #96a5ce;
}

#fav {
  /* padding: 1em 1em 0em 2em; */
  color: black;
  font-size: 200%;
}

#greeting {
    /* padding:1em 1em 0em 2em; */
    color: black;
    font-size: 200%;
} 

.result-a,
.result-b,
.result-c,
.result-d,
.result-e,
.result-f {
  padding: 5px;
  color: black;
}

.calender {
  color: black;
  font-size: 200%;
}
 
.starVote {
  /* padding: 1em 1em 1em 2em; */
  background-color: #96a5ce;
  color: black;
}
