body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.react-calendar {
  grid-column: 9/-1;
  grid-row: 3/6;
}

#greeting {
  grid-column: 9/12;
  grid-row: 2/3;
}

.starVote {
  grid-column: 8/12;
  grid-row: 7/8;
}

.googleOauth, 
.login {
  grid-column: 9/-1;
  grid-row: 2/7;
}

#fav {
  grid-column: 3/6;
  grid-row: 2/3;
}

.result-a {
  grid-column: 1/4;
  grid-row: 3/5;
}
.result-b {
  grid-column: 5/8;
  grid-row: 3/5;
}
.result-c {
  grid-column: 1/4;
  grid-row: 5/7;
}
.result-d {
  grid-column: 5/8;
  grid-row: 5/7;
 }

.result-e {
  grid-column: 1/4;
  grid-row: 7/9;
}
.result-f {
  grid-column: 5/8;
  grid-row: 7/9;
} 

