/* body { 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
} */

#patientResultsID,
.flex-container {
  grid-column: 2/10;
  grid-row: 3/9;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  width: 25%;
  /* height: auto; */
  margin: 5px;
}

#greeting {
  grid-column: 10/13;
  grid-row: 2/3;
}
.react-calendar {
  grid-column: 9/12;
  grid-row: 3/8;
}

.starVote {
  grid-column: 9/12;
  grid-row: 9/10;
  justify-self: center;
  padding: 15px;
}

#fav {
  grid-column: 2/6;
  grid-row: 2/3;
}
