* {
  margin: 0;
  padding: 0;
}
/* .container > div */
.login,
.googleOauth,
.feature-a,
.feature-b,
.feature-c,
.feature-d, 
footer,
.navbar,
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

html,
body {
  background-color: #ffeead;
  margin: 10px;
}

.navbar {
  background-color: #96ceb4;
}

.header {
  background-color: #48d8b0;
}

footer {
  background-color: #ffcc5c;
}


