#rec {
  padding: 1em 1em 0em 2em;
}

#greeting2 {
  padding: 1em 1em 0em 2em;
}

.testimonial {
  background-color: #96a5ce;
  color: black;
  font-size: 200%;
  background-image: url("https://image.freepik.com/free-photo/doctor-with-a-stethoscope-in-the-hands-and-hospital-background_1423-1.jpg");
  background-size: cover;
}

.contactBadge-a,
.contactBadge-b,
.contactBadge-c,
.contactBadge-d {
  padding: 1em;
  color: black;
}

#test {
  padding: 2% 50% 0% 2%;
}

/* .contactBadge h1 {
  color: black;
} */
/* 
.starVote2 {

  background-color: #96a5ce;
  color: black;
} */
