#rec {
  padding: 1em 1em 0em 2em;
}

#greeting2 {
  padding: 1em 1em 0em 2em;
}

.testimonial {
  color: black;
  font-size: 200%;
  background-image: url("https://image.freepik.com/free-photo/doctor-with-a-stethoscope-in-the-hands-and-hospital-background_1423-1.jpg");
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(116, 12, 12, 0.19);
}

.contactBadge-a,
.contactBadge-b,
.contactBadge-c,
.contactBadge-d {
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(116, 12, 12, 0.19);
}

#test {
  padding: 2% 50% 0% 2%;
}

