@media (min-width: 369px) {
  footer {
    /* background-color: white; */
    padding-top: 5vh;
    background-color: #f1f0f3;
    color: #4b405f;
  
  }

  img {
    max-height: 5.5vh;
  }

  .icon {
    font-size: 5px;
  }
}
