@media (min-width: 369px) {
  footer {
    /* background-color: white; */
    padding: 2vh;
    background-color: #f1f0f3;
    color: #868686;
   font-size: medium;
  /* margin-bottom: 5px; */
  }

  img {
    max-height: 5.5vh;
    margin-right: 0.5em;
  }

  .icon {
    font-size: 5px;
  }
}
