.contactBadge {
  padding: 1em 1em 1em 2em;
  background-color: #96a5ce; 
  color: black;
  font-size: 200%;
}

#rec {
  padding: 1em 1em 0em 2em;
  /* color: black; */
}

#greeting2 {
  padding: 1em 1em 0em 2em;
  /* color: black; */
}

.testimonial {
  background-color: #96a5ce; 
  color: black;
  font-size: 200%;
}

.contactBadge-a,
.contactBadge-b,
.contactBadge-c,
.contactBadge-d {
  padding: 1em;
  /* background-color: #96a5ce; */
  color: black;
}

.contactBadge h1 {
  color: black;
}

.starVote2 {
  /* padding: 1em 1em 1em 2em; */
  background-color: #96a5ce;
  color: black;
}
