body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
  }

  #rec {
    grid-column: 1/6;
    grid-row: 2/3;
  }

  #greeting2 {
    grid-column: 7/12;
    grid-row: 2/3;
  }

  .testimonial {
    grid-column: 8/12;
    grid-row: 3/6;
  }
  
  .contactBadge-a {
    grid-column: 1/4;
    grid-row: 3/4;
  }

  .contactBadge-b {
    grid-column: 4/7;
    grid-row: 3/4; 
  }

  .contactBadge-c {
    grid-column: 1/4;
    grid-row: 4/5;
  }

  .contactBadge-d { 
    grid-column: 4/7;
    grid-row: 4/5;
  }
  
  .starVote2 {
    grid-column: 8/12;
    grid-row: 7/8;
  }
    

  