
.login {
  background-color: #96a5ce;
}

.feature-a,
.feature-b,
.feature-c, 
.feature-d {
  background-color: #ce96c7;
}

.feature-link {
  color: #ffeead;
  text-decoration: none;
}

.carousel-home h1 {
  padding-top: 2em;
  font-size: xx-large;
  color: #ffeead;
}



.carousel-home p {
  font-size: large;
  padding: 50px;
  color: #ffeead;
}

.carousel-home button {
  margin: 2em;
}
 