body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
} 

#carouselExampleControls, .carousel-item, .d-block {
  display: grid;
  grid-template-rows: auto;
  grid-column: 3 / 7;
  grid-row: 2 / 7;
}

.d-block {
  max-height: 250vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(116, 12, 12, 0.19);
  /* padding:0.5em; */
  margin: 1em 0em;
}

.googleOauth,
.login {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  justify-items: center;

  grid-column: 9/12;
  grid-row: 2/7
}

.feature-a {
  grid-column: 1/4;
  grid-row: 7/9;
}
.feature-b {
  grid-column: 4/7;
  grid-row: 7/9;
}
.feature-c {
  grid-column: 7/10;
  grid-row: 7/9;
}
.feature-d {
  grid-column: 10/-1;
  grid-row: 7/9;
}

